@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#statusAddressSearch {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #aaaaaa;
}

ul#resultsAddressSearch {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#resultsAddressSearch li.active {
  background-color: #dcf7e2;
}

#map {
  height: 400px;
}

#map .iw-content h6 {
  margin: 0 0 2px 0;
  font-size: 1em;
}

#map .iw-content p {
  margin: 0;
  font-size: .875em;
  line-height: 1.5em;
}
