@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
    padding: 0;
    
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
    }
}


// ------------------------- STRUCTURE
header {
    background: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

footer {
    color: #9a9a9a;
    font-size: .6875rem;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #dddddd;
}

main {
    padding: 15px;
}






// ------------------------- TYPOGRAPHY
h1 {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
    text-transform: uppercase;
}