#map-overlay {

    #map-overlay-content {
        position: fixed;
        background: #ffffff;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        box-shadow: 0 0 40px rgba(0, 0, 0, .4);
        z-index: 1001;
        transition: transform .4s ease-in-out;
        display: flex;
        flex-direction: column;
        transform: translateX(-150%);
    
        .overlay-header,
        .overlay-footer {
            background: #eeeeee;
            padding: 5px 10px;
            border-bottom: 1px solid #ddd;
            line-height: 20px;
            position: relative;

            span {
                display: block;
                height: 20px;
                font-weight: 300;
                color: #5c5c5c;
                text-shadow: 1px 1px 0px #ffffff;
                line-height: 20px;
            }
            #overlay-close {
                display: block;
                line-height: 20px;
                height: 20px;
                position: absolute;
                top: 5px;
                right: 10px;
                cursor: pointer;
                transition: opacity .2s linear;
                opacity: .75;
                img {
                    display: block;
                }
                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
        }

        .content-first {
            padding: 15px 0;
            display: flex;
            flex-direction: row;

            .field {
                flex: 1;
                padding: 0 15px;
                
                input[type=text] {
                    box-sizing: border-box;
                    width: 100%;
                    line-height: 20px;
                    padding: 3px 6px;
                    border: 1px solid #cccccc;
                }
            }
        }

        #map {
            height: 100%;
            background: url('/assets/images/map_sa.jpg') no-repeat center center;
            background-size: cover;
        }

        .overlay-footer {
            border-bottom: none;
            border-top: 1px solid #ddd;
            line-height: 30px;
            label {
                font-size: .75rem;
                color: #757575;
                display: block;
                line-height: inherit;
                input {
                    vertical-align: text-top;
                    margin: 0 5px 0 0;
                }
            }
            button {
                position: absolute;
                top: 5px;
                right: 10px;
                border: 1px solid #28a745;
                background: #28a745;
                color: #ffffff;
                line-height: 20px;
                padding: 4px 7px;
                cursor: pointer;
                transition: all .4s ease-in-out;
                &:hover,
                &:focus {
                    border-color: #1e7e34;
                    background-color: #1e7e34;
                }
                &:disabled {
                    pointer-events: none;
                    background: #cccccc;
                    border-color: #bbbbbb;
                    color: #888888;
                }
            }
        }
    }

    &::before {
        transition: visibility .2s linear, opacity .2s linear;
        visibility: hidden;
        opacity: 0;
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, .9);
        z-index: 1000;
    }

    &.active {
        &::before {
            visibility: visible;
            opacity: 1;
        }
        #map-overlay-content {
            transform: translateX(0);
        }
    }
}


// AWESOMPLETE autocomplete styling
.awesomplete {
    position: relative;

    & > .visually-hidden {
        position: absolute;
        right: 7px;
        top: 7px;
        line-height: 14px;
        display: block;
        font-size: .675rem;
        color: #aaaaaa;
    }

    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        z-index: 1000;
        width: 100%;
        background: rgba(255, 255, 255, .9);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);

        li {
            font-size: .875rem;
            padding: 2px 5px;
            color: #6c6c6c;

            &[aria-selected=true] {
                background: #d6edff;
            }

            mark {
                background: transparent;
                font-weight: 500;
                color: #35A7FF;
            }
        }
    }
}