// BASE ===========================================================================================
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
    padding: 0;
    height: 100%;
    
    body#map-window {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 100%;

        header,
        footer  {
            background: #eeeeee;
            padding: 5px 10px;
            border-bottom: 1px solid #ddd;
            line-height: 20px;
            position: relative;
        }

        header {
            h1 {
                height: 30px;
                font-size: 1.25rem;
                margin: 0;
                font-weight: 300;
                color: #5c5c5c;
                text-shadow: 1px 1px 0px #ffffff;
                line-height: 30px;
            }            
        }

        main {
            height: 100%;
            display: flex;
            flex-direction: column;
            
            .fields {
                margin: 15px 0;
                display: flex;
                flex-direction: row;

                .field {
                    flex: 1;
                    margin: 0 15px;
                    position: relative;
                    
                    input[type=text] {
                        box-sizing: border-box;
                        width: 100%;
                        line-height: 20px;
                        padding: 3px 6px;
                        border: 1px solid #cccccc;
                    }
                }
            }

            #map {
                height: 100%;
                background: url('/assets/images/map_sa.jpg') no-repeat center center;
                background-size: cover;
            }
        }

        footer {
            border-bottom: none;
            border-top: 1px solid #ddd;
            line-height: 30px;

            label {
                font-size: .75rem;
                color: #494949;
                display: block;
                line-height: inherit;
                input {
                    vertical-align: text-top;
                    margin: 0 5px 0 0;

                    &:disabled + span {
                        color: #bbbbbb;
                    }
                }
            }

            button {
                margin: 0;
                position: absolute;
                top: 5px;
                right: 10px;
                border: 1px solid #28a745;
                background: #28a745;
                color: #ffffff;
                line-height: 20px;
                padding: 4px 7px;
                cursor: pointer;
                transition: all .4s ease-in-out;
                &:hover,
                &:focus {
                    border-color: #1e7e34;
                    background-color: #1e7e34;
                }
                &:disabled {
                    pointer-events: none;
                    background: #cccccc;
                    border-color: #bbbbbb;
                    color: #888888;
                }
            }
        }
    }
}



// WINDOW =========================================================================================
.awesomplete {
    position: relative;

    & > .visually-hidden {
        position: absolute;
        right: 7px;
        top: 7px;
        line-height: 14px;
        display: block;
        font-size: .675rem;
        color: #aaaaaa;
    }

    & > ul {
        @extend %drop-down-lists;
    }
}

#predictions {
    @extend %drop-down-lists;
}




// SHARED ========================================================================
%drop-down-lists {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);

    li {
        font-size: .875rem;
        padding: 2px 5px;
        color: #6c6c6c;
        cursor: pointer;

        &:hover,
        &[aria-selected=true],
        &.active {
            background: #d6edff;
            color: #000000;
        }

        mark {
            background: transparent;
            font-weight: 500;
            color: #35A7FF;
        }
    }
}