<div id="DIV_1">
	<div id="DIV_2">
		<div id="DIV_3">
			Customer
		</div>
		<div id="DIV_4">
			<input id="INPUT_5" name="customer.IsWrongPartyContact" type="hidden" value="False" />
			<div id="DIV_6">
				 
				<label for="customer_title" id="LABEL_7">
					Title
				</label>
				<div id="DIV_8">
					<div id="DIV_9">
						<input id="INPUT_10" name="customer.title" type="radio" value="MR" /> Mr
						<input id="INPUT_11" name="customer.title" type="radio" value="MRS" /> Mrs
						<input id="INPUT_12" name="customer.title" type="radio" value="MS" /> Ms
						<input id="INPUT_13" name="customer.title" type="radio" value="MISS" /> Miss
						<input id="INPUT_14" name="customer.title" type="radio" value="DR" /> Dr
						<input id="INPUT_15" name="customer.title" type="radio" value="PROF" /> Prof
					</div><span id="SPAN_16"></span>
				</div>
			</div>
			<div id="DIV_17">
				 
				<label for="customer_firstName" id="LABEL_18">
					First Name<span id="SPAN_19">*</span>
				</label>
				<div id="DIV_20">
					<input id="INPUT_21" name="customer.firstName" type="text" value="K" /><span id="SPAN_22"></span>
				</div>
			</div>
			<div id="DIV_23">
				 
				<label for="customer_lastName" id="LABEL_24">
					Last Name<span id="SPAN_25">*</span>
				</label>
				<div id="DIV_26">
					<input id="INPUT_27" name="customer.lastName" type="text" value="Kevin" /><span id="SPAN_28"></span>
				</div>
			</div>
			<div id="DIV_29">
				 
				<label for="customer_idNumber" id="LABEL_30">
					ID Number<span id="SPAN_31">*</span>
				</label>
				<div id="DIV_32">
					<input id="INPUT_33" name="customer.idNumber" type="text" value="2702196447394" /><span id="SPAN_34"></span>
				</div>
			</div>
			<div id="DIV_35">
				 
				<label for="customer_dateOfBirth" id="LABEL_36">
					Date Of Birth<span id="SPAN_37">*</span>
				</label>
				<div id="DIV_38">
					<input id="INPUT_39" name="customer.dateOfBirth" placeholder="YYYY-MM-DD" type="text" /><span id="SPAN_40"></span>
				</div>
			</div>
			<div id="DIV_41">
				 
				<label for="customer_gender" id="LABEL_42">
					Gender
				</label>
				<div id="DIV_43">
					<div id="DIV_44">
						<input id="INPUT_45" name="customer.gender" type="radio" value="M" /> Male
						<input id="INPUT_46" name="customer.gender" type="radio" value="F" /> Female
					</div><span id="SPAN_47"></span>
				</div>
			</div>
			<div id="DIV_48">
				 
				<label for="customer_maritalStatus" id="LABEL_49">
					Marital Status
				</label>
				<div id="DIV_50">
					<div id="DIV_51">
						<input id="INPUT_52" name="customer.maritalStatus" type="radio" value="S" /> Single
						<input id="INPUT_53" name="customer.maritalStatus" type="radio" value="M" /> Married
						<input id="INPUT_54" name="customer.maritalStatus" type="radio" value="D" /> Divorced
						<input id="INPUT_55" name="customer.maritalStatus" type="radio" value="W" /> Widowed
					</div><span id="SPAN_56"></span>
				</div>
			</div>
			<div id="DIV_57">
				 
				<label for="customer_homeNumber" id="LABEL_58">
					Home Number
				</label>
				<div id="DIV_59">
					<input id="INPUT_60" name="customer.homeNumber" type="text" /><span id="SPAN_61"></span>
				</div>
			</div>
			<div id="DIV_62">
				 
				<label for="customer_workNumber" id="LABEL_63">
					Work Number
				</label>
				<div id="DIV_64">
					<input id="INPUT_65" name="customer.workNumber" type="text" /><span id="SPAN_66"></span>
				</div>
			</div>
			<div id="DIV_67">
				 
				<label for="customer_mobileNumber" id="LABEL_68">
					Mobile Number<span id="SPAN_69">*</span>
				</label>
				<div id="DIV_70">
					<input id="INPUT_71" name="customer.mobileNumber" readonly="readonly" type="text" value="0825699988" /><span id="SPAN_72"></span>
				</div>
			</div>
			<div id="DIV_73">
				 
				<label for="customer_altMobileNumber" id="LABEL_74">
					Alternate Mobile Number
				</label>
				<div id="DIV_75">
					<input id="INPUT_76" name="customer.altMobileNumber" type="text" /><span id="SPAN_77"></span>
				</div>
			</div>
			<div id="DIV_78">
				 
				<label for="customer_email" id="LABEL_79">
					Email
				</label>
				<div id="DIV_80">
					<input id="INPUT_81" name="customer.email" type="email" /><span id="SPAN_82"></span>
				</div>
			</div>
		</div>
	</div>
</div>