// =================================== SASS Functions =============================================
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}

// =================================== SASS Mixins ================================================
@mixin font-size($size) {
	@if unitless($size) {
		$size: $size * 1px;
	}
	font-size: $size;
	font-size: calculateRem($size);
}


// Positioning helpers
@mixin position($position, $args) {
	@each $o in top right bottom left {
		$i: index($args, $o);
		@if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
			#{$o}: nth($args, $i + 1);
		}
	}
	position: $position;
}
@mixin absolute($args: '') {
	@include position(absolute, $args);
}
@mixin fixed($args: '') {
	@include position(fixed, $args);
}
@mixin relative($args: '') {
	@include position(relative, $args);
}


@mixin box($width, $height:$width) {
	width: $width;
	height: $height;
}

@mixin circle($diameter) {
	@include box($diameter);
	border-radius: 50%;
}


@mixin gradient($start-color, $end-color, $orientation) {
	background: $start-color;
	@if $orientation == 'vertical' {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	} @else if $orientation == 'horizontal' {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	} @else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}



@mixin center-h {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@mixin center-vh {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}


@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity = $opacity-ie); //IE8
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
}


@mixin text-shadow($opacity) {
	text-shadow: rgba(255, 255, 255, $opacity) 0 1px 0;
}


@mixin box-shadow($colour, $h-offset: 0px, $v-offset: 0px, $blur-radius: 5px, $inset: false, $spread: 0) {
	@if $inset == true {
		@include prefix('box-shadow', inset $h-offset $v-offset $blur-radius $spread $colour, webkit moz)
	}
	@else {
		@include prefix('box-shadow', $h-offset $v-offset $blur-radius $spread $colour, webkit moz)
	}
}



@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
	@if $vendors {
		@each $vendor in $vendors {
			#{"-" + $vendor + "-" + $property}: #{$value};
		}
	}
	@if $default {
		#{$property}: #{$value};
	}
}

@mixin transform($transformation) {
	@include prefix('transform', $transformation, webkit ms);
}

@mixin transition($props: all, $time: .5s, $timing-function: ease-in-out) {
	@include prefix('transition', $props $time $timing-function, moz webkit);
}

@mixin box-sizing($value) {
	@include prefix('box-sizing', $value, moz webkit);
}
