@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import 'variables';
@import 'mixins';


html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
















#statusAddressSearch {
    @include font-size(11px);
    color: map-get($colours, note);
}



ul#resultsAddressSearch {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        &.active {
            background-color: lighten(map-get($colours, action), 51%);
        }
    }
}


#map {
    height: 400px;

    .iw-content {
        h6 {
            margin: 0 0 2px 0;
            font-size: 1em;
        }
        p {
            margin: 0;
            font-size: .875em;
            line-height: 1.5em;
        }
    }
}