#map-overlay #map-overlay-content .map-input-fields .field #map-address-search-status {
  text-align: right;
  display: block;
  top: 26px;
  right: 20px;
  position: absolute;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #afafaf;
}

#map-overlay #map-overlay-content .map-input-fields .field .error#map-address-search-status {
  color: #ef3737;
}

.awesomplete > ul, #map-address-search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1000;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.awesomplete > ul li, #map-address-search-results li {
  font-size: .875rem;
  padding: 2px 5px;
  color: #6c6c6c;
  cursor: pointer;
}

.awesomplete > ul li:hover, #map-address-search-results li:hover, .awesomplete > ul li[aria-selected=true], #map-address-search-results li[aria-selected=true], .awesomplete > ul li.active, #map-address-search-results li.active {
  background: #d6edff;
  color: #000000;
}

.awesomplete > ul li mark, #map-address-search-results li mark {
  background: transparent;
  font-weight: 600;
  color: #35A7FF;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.awesomplete {
  position: relative;
}

.awesomplete > .visually-hidden {
  position: absolute;
  right: 7px;
  top: 7px;
  line-height: 14px;
  display: block;
  font-size: .675rem;
  color: #aaaaaa;
}

#map-address-search-results {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 15px;
  right: 15px;
  display: none;
  width: auto;
}

#map-address-search-results.active {
  display: block;
}

#map-overlay #map-overlay-content {
  position: fixed;
  overflow: hidden;
  background: #ffffff;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  z-index: 1001;
  transition: transform .4s ease-in-out;
  display: flex;
  flex-direction: column;
  transform: translateX(-150%);
}

#map-overlay #map-overlay-content .map-overlay-header,
#map-overlay #map-overlay-content .map-overlay-footer {
  background: #efefef;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  line-height: 20px;
  position: relative;
}

#map-overlay #map-overlay-content .map-overlay-header span,
#map-overlay #map-overlay-content .map-overlay-footer span {
  display: block;
  height: 20px;
  font-weight: 300;
  color: #5c5c5c;
  text-shadow: 1px 1px 0px #ffffff;
  line-height: 20px;
}

#map-overlay #map-overlay-content .map-overlay-header #map-overlay-close,
#map-overlay #map-overlay-content .map-overlay-footer #map-overlay-close {
  display: block;
  line-height: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  transition: opacity .2s linear;
  opacity: .75;
}

#map-overlay #map-overlay-content .map-overlay-header #map-overlay-close img,
#map-overlay #map-overlay-content .map-overlay-footer #map-overlay-close img {
  display: block;
}

#map-overlay #map-overlay-content .map-overlay-header #map-overlay-close:hover, #map-overlay #map-overlay-content .map-overlay-header #map-overlay-close:focus,
#map-overlay #map-overlay-content .map-overlay-footer #map-overlay-close:hover,
#map-overlay #map-overlay-content .map-overlay-footer #map-overlay-close:focus {
  opacity: 1;
}

#map-overlay #map-overlay-content .map-input-fields {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
}

#map-overlay #map-overlay-content .map-input-fields .field {
  flex: 1;
  padding: 0 15px;
  position: relative;
}

#map-overlay #map-overlay-content .map-input-fields .field label {
  font-size: 12px;
  font-size: 0.75rem;
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
}

#map-overlay #map-overlay-content .map-input-fields .field:nth-child(1) label::after {
  content: " Town or City";
}

#map-overlay #map-overlay-content .map-input-fields .field:nth-child(2) label::after {
  content: " Full Address";
}

#map-overlay #map-overlay-content .map-input-fields .field input[type=text] {
  box-sizing: border-box;
  width: 100%;
  line-height: 20px;
  padding: 3px 6px;
  border: 1px solid #cccccc;
}

#map-overlay #map-overlay-content .map-input-fields .field input[type=text]:disabled {
  background: #eee;
}

#map-overlay #map-overlay-content #map {
  position: relative;
  height: 100%;
  background: url("/assets/images/map_sa.jpg") no-repeat center center;
  background-size: cover;
}

#map-overlay #map-overlay-content #map .iw-content h6 {
  margin: 0 0 2px 0;
  font-size: 1em;
}

#map-overlay #map-overlay-content #map .iw-content p {
  margin: 0;
  font-size: .875em;
  line-height: 1.5em;
}

#map-overlay #map-overlay-content #map .iw-content hr {
  height: 1px;
  border: none;
  background: #ddd;
  margin: 3px 0 5px;
}

#map-overlay #map-overlay-content #map .iw-content span {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #aaa;
  display: block;
  padding-left: 3px;
}

#map-overlay #map-overlay-content #map-place-details {
  top: 120px;
  left: 15px;
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  padding: 3px 5px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -moz-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

#map-overlay #map-overlay-content #map-place-details.active {
  display: block;
}

#map-overlay #map-overlay-content #map-place-details:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#map-overlay #map-overlay-content #map-place-details table {
  width: 100%;
  font-size: 11px;
  font-size: 0.6875rem;
}

#map-overlay #map-overlay-content #map-place-details table td {
  padding: 2px 0;
  color: #999999;
  font-weight: 300;
}

#map-overlay #map-overlay-content #map-place-details table td:nth-child(2) {
  padding-left: 5px;
  color: #000000;
}

#map-overlay #map-overlay-content .map-overlay-footer {
  border-bottom: none;
  border-top: 1px solid #ddd;
  line-height: 30px;
}

#map-overlay #map-overlay-content .map-overlay-footer label {
  font-size: .75rem;
  color: #757575;
  display: inline;
  line-height: inherit;
}

#map-overlay #map-overlay-content .map-overlay-footer label input {
  vertical-align: text-top;
  margin: 0 5px 0 0;
}

#map-overlay #map-overlay-content .map-overlay-footer label input + span {
  display: inline-block;
}

#map-overlay #map-overlay-content .map-overlay-footer label input:disabled + span {
  color: #bbbbbb;
}

#map-overlay #map-overlay-content .map-overlay-footer #map-place-details-override {
  display: inline;
  font-size: 12px;
  font-size: 0.75rem;
  color: #ef3737;
  font-weight: 600;
}

#map-overlay #map-overlay-content .map-overlay-footer #map-place-details-override.active {
  display: inline;
}

#map-overlay #map-overlay-content .map-overlay-footer button {
  position: absolute;
  top: 5px;
  right: 10px;
  border: 1px solid #28a745;
  background: #28a745;
  color: #ffffff;
  line-height: 20px;
  padding: 4px 7px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

#map-overlay #map-overlay-content .map-overlay-footer button:hover, #map-overlay #map-overlay-content .map-overlay-footer button:focus {
  border-color: #1e7e34;
  background-color: #1e7e34;
}

#map-overlay #map-overlay-content .map-overlay-footer button:disabled {
  pointer-events: none;
  background: #cccccc;
  border-color: #bbbbbb;
  color: #888888;
}

#map-overlay::before {
  transition: visibility .2s linear, opacity .2s linear;
  visibility: hidden;
  opacity: 0;
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

#map-overlay.active::before {
  visibility: visible;
  opacity: 1;
}

#map-overlay.active #map-overlay-content {
  transform: translateX(0);
}
