.awesomplete {
    position: relative;

    & > .visually-hidden {
        position: absolute;
        right: 7px;
        top: 7px;
        line-height: 14px;
        display: block;
        font-size: .675rem;
        color: #aaaaaa;
    }

    & > ul {
        @extend %drop-down-lists;
    }
}

#map-address-search-results {
    @extend %drop-down-lists;
    @include box-sizing(border-box);
    left: 15px;
    right: 15px;
    display: none;
    width: auto;

    &.active {
        display: block;
    }
}