%field-statuses {
    text-align: right;
    display: block;
    @include absolute(top 26px right 20px);
    @include font-size(11);
    color: #afafaf;

    &.error {
        color: map-get($colours, error-text);
    }
}


%drop-down-lists {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);

    li {
        font-size: .875rem;
        padding: 2px 5px;
        color: #6c6c6c;
        cursor: pointer;

        &:hover,
        &[aria-selected=true],
        &.active {
            background: #d6edff;
            color: #000000;
        }

        mark {
            background: transparent;
            font-weight: 600;
            color: #35A7FF;
        }
    }
}