#map-overlay {

    #map-overlay-content {
        position: fixed;
        overflow: hidden;
        background: #ffffff;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        box-shadow: 0 0 40px rgba(0, 0, 0, .4);
        z-index: 1001;
        transition: transform .4s ease-in-out;
        display: flex;
        flex-direction: column;
        transform: translateX(-150%);
    
        .map-overlay-header,
        .map-overlay-footer {
            background: #efefef;
            padding: 5px 10px;
            border-bottom: 1px solid #ddd;
            line-height: 20px;
            position: relative;

            span {
                display: block;
                height: 20px;
                font-weight: 300;
                color: #5c5c5c;
                text-shadow: 1px 1px 0px #ffffff;
                line-height: 20px;
            }
            #map-overlay-close {
                display: block;
                line-height: 20px;
                height: 20px;
                position: absolute;
                top: 5px;
                right: 10px;
                cursor: pointer;
                transition: opacity .2s linear;
                opacity: .75;
                img {
                    display: block;
                }
                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
        }

        .map-input-fields {
            // background: #fafafa; // TODO: potentially remove
            border-bottom: 1px solid #ddd; // TODO: potentially remove
            // border-top: 1px solid #fff; // TODO: potentially remove
            padding: 15px 0;
            display: flex;
            flex-direction: row;

            .field {
                flex: 1;
                padding: 0 15px;
                position: relative;

                label {
                    @include font-size(12);
                    display: block;
                    margin-bottom: 4px;
                    font-weight: 600;
                }
                &:nth-child(1) {
                    label::after {
                        content: " Town or City";
                    }
                }
                &:nth-child(2) {
                    label::after {
                        content: " Full Address";
                    }
                }
                
                input[type=text] {
                    box-sizing: border-box;
                    width: 100%;
                    line-height: 20px;
                    padding: 3px 6px;
                    border: 1px solid #cccccc;

                    &:disabled {
                        background: #eee;
                    }
                }

                #map-address-search-status {
                    @extend %field-statuses
                }
            }
        }

        #map {
            position: relative;
            height: 100%;
            background: url('/assets/images/map_sa.jpg') no-repeat center center;
            background-size: cover;

            .iw-content {
                h6 {
                    margin: 0 0 2px 0;
                    font-size: 1em;
                }
                p {
                    margin: 0;
                    font-size: .875em;
                    line-height: 1.5em;
                }
                hr {
                    height: 1px;
                    border: none;
                    background: #ddd;
                    margin: 3px 0 5px;
                }
                span {
                    @include font-size(11);
                    color: #aaa;
                    display: block;
                    padding-left: 3px;
                }
            }

        }

        #map-place-details {
            @include absolute(top 120px left 15px);
            @include box-sizing(border-box);
            display: none;
            padding: 3px 5px;
            background: #fff;
            box-shadow: 0px 0px 5px 0px black(.2);
            @include opacity(.6);
            @include transition(opacity, .2s, linear);

            &.active {
                display: block;
            }

            &:hover {
                @include opacity(1);
            }

            table {
                width: 100%;
                @include font-size(11);
                td {
                    padding: 2px 0;
                    color: #999999;
                    font-weight: 300;
                    &:nth-child(2) {
                        padding-left: 5px;
                        color: #000000;
                    }
                }
            }
        }

        .map-overlay-footer {
            border-bottom: none;
            border-top: 1px solid #ddd;
            line-height: 30px;
            label {
                font-size: .75rem;
                color: #757575;
                display: inline;
                line-height: inherit;
                input {
                    vertical-align: text-top;
                    margin: 0 5px 0 0;

                    & + span {
                        display: inline-block;
                    }

                    &:disabled {
                        & + span {
                            color: #bbbbbb;
                        }
                    }
                }
            }
            #map-place-details-override {
                display: inline;
                @include font-size(12);
                color: map-get($colours, error-text);
                font-weight: 600;
                &.active {
                    display: inline;
                }
            }
            button {
                position: absolute;
                top: 5px;
                right: 10px;
                border: 1px solid #28a745;
                background: #28a745;
                color: #ffffff;
                line-height: 20px;
                padding: 4px 7px;
                cursor: pointer;
                transition: all .4s ease-in-out;
                &:hover,
                &:focus {
                    border-color: #1e7e34;
                    background-color: #1e7e34;
                }
                &:disabled {
                    pointer-events: none;
                    background: #cccccc;
                    border-color: #bbbbbb;
                    color: #888888;
                }
            }
        }
    }

    &::before {
        transition: visibility .2s linear, opacity .2s linear;
        visibility: hidden;
        opacity: 0;
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, .9);
        z-index: 1000;
    }

    &.active {
        &::before {
            visibility: visible;
            opacity: 1;
        }
        #map-overlay-content {
            transform: translateX(0);
        }
    }
}