$colours: (
    text:               #3c3c3c,
    note:               #aaaaaa,
    disabled-text:      #888888,
    disabled-bg:        #cccccc,
    action:             #28a745,
    action-dark:        #1e7e34,
    error-text:         #ef3737,
)